<h1>Books</h1>
<table>
 <thred>
  <tr>
   <th>Title</th>
   <th>Body</th>
   <th colspan="3"></th>
  </tr>
 </thred>

<% @lists.each do |list| %>

  <tr>
   <tb><%= list.title %></tb>
   <tb> <%= list.body %></tb>

   <tb><%= link_to list.title='Show',  list_path(list.id) %> </tb>
   <tb><%= link_to edit_list="Edit", edit_list_path(list.id)%></tb>
   <tb><%= link_to destroy_list="Delete", destroy_list_path(list.id)%></tb>

  </tr>
  <% end %>

</table>




 <% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @list, url: '/lists', method: :post, local: true do |f| %>
 <h4>New Book</h4>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <br><%= f.submit 'Create Book' %>
<% end %>