<h1>Books</h1>

<% @lists.each do |list| %>

  <%= list.title %><br>
  <%= list.body %>

  <span> <%= link_to list.title='Show',  list_path(list.id) %> </span>
  <span><%= link_to edit_list="Edit", edit_list_path(list.id)%></span>
  <span><%= link_to destroy_list="Delete", destroy_list_path(list.id)%></span>





<% end %>



 <% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @list, url: '/lists', method: :post, local: true do |f| %>
 <h4>New Book</h4>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <br><%= f.submit 'Create Book' %>
<% end %>